{% extends 'base.html'%}
{% import 'bootstrap/wtf.html' as wtf %}

{% block title %} Flasky {% endblock %}

{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css', _external=True)}}">
{% endblock %}

{% block content %}
    <div class="container">
        {% for message in get_flashed_messages() %}
            <div class="alert alert-warning">
                <button type="button" class="close" name="button" data-dismiss="alert">&times;</button>
                {{ message }}
            </div>
        {% endfor %}
        <div class="page-header">
            <h1>Hello, {% if name %} {{ name }} {% else %} Stranger {% endif %}</h1>
            {% if not known %}
                <p>Please to meet you.</p>
            {% else %}
                <p>Happy to see you again.</p>
            {% endif %}
        </div>
        {{ wtf.quick_form(form) }}
    </div>
{% endblock %}

{% block scripts %}
    {{ super() }}
    {{ moment.include_moment() }}
{% endblock %}
