{% extends 'base.html'%}
{% import 'bootstrap/wtf.html' as wtf %}

{% block title %} Flasky {% endblock %}

{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css', _external=True)}}">
{% endblock %}

{% block page_content %}
    <div class="page-header">
        <h1>
            Hello,
            {% if current_user.is_authenticated %}
                {{ current_user.username }}
            {% else %}
                Stranger
            {% endif %}
        </h1>
    </div>
    {{ wtf.quick_form(form) }}
{% endblock %}

{% block scripts %}
    {{ super() }}
    {{ moment.include_moment() }}
{% endblock %}
